<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'turnero' %}">Sistema Turnero</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=" {% url 'turnero' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'persona' %}">Gestionar Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'servicio' %}">Gestionar Servicios</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'turnos' %}">Gestionar Turnos</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-success" aria-current="page" href="{% url 'lista_turnos' %}" target="_blank">Mostrar Turnos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>